.nav-bar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .banner {
    & span {
      font-size: 1.1em;
      font-weight: bold;
      color: var(--text-color);
      cursor: pointer;
    }
  }
}
