.button-flat {
  background: none;
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;

  color: var(--text-color);

  & i {
    margin-right: 0.8rem;
  }
}
