.select {
  position: relative;
  border: inherit;
  border-radius: inherit;
  outline: inherit;
  background: inherit;
  width: 100%;
  height: 100%;
  padding: 0.8rem 1rem;
  cursor: pointer;

  border-radius: var(--default-border-radius);
  background-color: var(--bg-element-color);
  color: var(--text-color);
}
