@import "../../scss/breakpoints";

#layout {
  position: relative;
  min-height: inherit;
  display: grid;
  grid-template-columns: minmax(320px, auto);
  grid-template-rows: minmax(60px, auto) 1fr;

  & header {
    background-color: var(--bg-element-color);

    @include media("<=phone-big") {
      padding: 0 1rem;
    }

    @include media(">=phone-big") {
      padding: 0 2rem;
    }

    @include media(">=tablet") {
      padding: 0 3em;
    }
  }

  & main {
    background-color: var(--bg-color);
    color: var(--text-color);

    @include media("<=phone-big") {
      padding: 0 1rem;
    }

    @include media(">=phone-big") {
      padding: 0 2rem;
    }

    @include media(">=tablet") {
      padding: 0 3em;
    }
  }
}
