@import "../../../scss/breakpoints";

.countries {
  position: relative;
  min-height: inherit;
  display: grid;
  grid-template-rows: (auto, 1fr);

  & .controles {
    display: grid;
    grid-template-columns: minmax(300px, 400px) 200px;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 0;

    @include media("<=tablet") {
      flex-direction: column;
      grid-template-columns: 1fr;
    }
  }

  & .cards {
    display: grid;
    grid-gap: 1.5rem;
    justify-content: space-between;
    padding-bottom: 1rem;

    @include media("<=phone-big") {
      grid-template-columns: 1fr;
    }

    @include media(">=phone-big") {
      grid-template-columns: 1fr 1fr;
    }

    @include media(">=tablet") {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media(">=desktop") {
      grid-template-columns: repeat(auto-fit, 270px);
    }
  }
}
