@import "../../../scss/breakpoints";

.countries {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;

  & .cards {
    display: grid;
    grid-gap: 1.5rem;
    justify-content: space-between;
    padding-bottom: 1rem;

    @include media("<=phone-big") {
      grid-template-columns: 1fr;
    }

    @include media(">=phone-big") {
      grid-template-columns: 1fr 1fr;
    }

    @include media(">=tablet") {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media(">=desktop") {
      grid-template-columns: repeat(auto-fit, 270px);
    }
  }
}
