.card-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--default-border-radius);
  background-color: var(--bg-element-color);
  color: var(--text-color);

  & .image-top {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  & .body {
    padding: 0 1.5rem;
    padding-bottom: 0.8rem;

    & .title {
      margin: 0.8rem 0 1.3rem 0;
    }
  }
}
