.card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--default-border-radius);
  overflow: hidden;
  background-color: var(--bg-element-color);
  color: var(--text-color);

  & img {
    height: 180px;
    width: 100%;
  }

  & .body {
    padding: 0 1.5rem;
    padding-bottom: 0.8rem;

    & .title {
      margin: 0.8rem 0 1.3rem 0;
    }
  }
}
