.input-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: var(--default-border-radius);
  background-color: var(--bg-element-color);

  & i {
    margin: 0 1.3rem;
    font-size: 1.2rem;
  }

  & input {
    flex: 1 1 100%;
    border: inherit;
    border-radius: inherit;
    outline: inherit;
    background: inherit;
    padding: 1rem 0;

    color: var(--text-color);

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: inherit;
      opacity: var(--placeholder-opacity);
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: inherit;
      opacity: var(--placeholder-opacity);
    }

    &::placeholder {
      color: inherit;
      opacity: var(--placeholder-opacity);
    }
  }
}
