@import "../../../scss/breakpoints";

.country {
  display: grid;
  grid-template-rows: auto 1fr;

  & .hover-custom {
    width: 105px;
  }

  & .data {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;

    @include media("<=tablet") {
      grid-template-columns: 1fr;
      gap: 1.3em;
      margin-bottom: 2em;

      & .left-data {
        text-align: center;
      }
    }

    & .left-data {
      & img {
        max-width: 100%;
      }
    }

    & .right-data {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .title {
        font-size: 1.3em;
        font-weight: 700;
        margin-bottom: 0.8em;
      }

      & .descriptions {
        display: flex;
        gap: 1em;
        font-size: 0.8rem;

        @include media("<=tablet") {
          flex-direction: column;
        }
      }

      & .borders {
        margin-top: 1.3em;

        & .border-countries {
          display: grid;
          grid-template-columns: repeat(auto-fit, 90px);
          gap: 1rem;
          justify-content: flex-start;
          align-items: flex-start;

          .btn-borders {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3rem;
            border-radius: 0;
          }

          & .hover-border-countries {
            border-radius: 0;
          }
        }
      }
    }
  }
}
